/* ******** loader ******** */
div#initial-loader {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 25%;
    /*background-color: #eee;*/
    background-image: url('/public/img/loader-03.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

span#initial-loader-msg {
    margin: 20% 0px 0px 28%;
    display: block;
    color: #FFCC33;
}

/* ******** accordion ******** */
.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default > .panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default > .panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default > .panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}

.panel-default > .panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default > .panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
}

.accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
}

.accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
    content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
}

/* ******** header ******** */
#header {
    margin: 1% 0px;
    text-align: center;
}

#logo-oi {
    width: 50px;
    height: 50px;
}


/* *********** style maps *********** */
#svg-map path {
    fill: #50b150
}

#svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif;
    cursor: pointer
}

#svg-map a {
    text-decoration: none
}

#svg-map a:hover {
    cursor: pointer;
    text-decoration: none
}

#svg-map a:hover path {
    fill: #0e5f0e !important
}

#svg-map .circle {
    fill: #23982d
}

#svg-map a:hover .circle {
    fill: #0e5f0e !important;
    cursor: pointer
}

/* *********** alarms *********** */

/*#svg-map #to {*/
/*fill: red !important*/
/*}*/

/*#svg-map #ba {*/
/*fill: #0e5f0e !important*/
/*}*/

/* *********** alarms *********** */

.alarm-red {
    fill: #ff0b0c !important;
}

.alarm-yellow {
    fill: #fff04d !important;
}

.text-color-black {
    color: #000 !important;
}

.alarm-green {
    fill: #50b150 !important;
}

.alarm-green-zero {
    fill: #23982d !important;
}


/* *********** table *********** */
.tr-title{
    background: #EEEEEE;
    text-align: center;
    font-weight: bold;
}

/* *********** modal *********** */
.noRecord {
    text-align: center;
}

#target {
    height: 400px;
    width: 600px;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid gray;
    border-radius: 4px;
    position: relative;
}

.modal {
    position: absolute;
}

.modal-left {
    margin: 30px;
}

.modal-right {
    margin: 30px;
    float: right;
}

.modal .modal-dialog { width: 95%; }

/*.modal-dialog {*/
    /*margin: 22vh auto 0px auto;*/
/*}*/

.modal-content {
    font-size: 12px;
}

/* *********** end modal *********** */

.getListPortaPontByGalc {
    color: #fff;
}
.getListPortaPontByGalc:hover {
    background-color: #1a1a1a;
}
.getListPortaPontByState {
    color: #fff;
}
.getListPortaPontByState:hover {
    background-color: #1a1a1a;
}

.badge-warning {
    background-color: #f89406;
}
.badge-warning:hover {
    background-color: #c67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}
.badge-inverse {
    background-color: #333333;
}
.badge-inverse:hover {
    background-color: #1a1a1a;
}
.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}

#spanListaPon > a {
    color: #FFF;
}

#getListGalcGMON {
    color: #fff;
}

#getListGalcGMONState {
    color: #fff;
}

#top-10 {
    font-size: 12px;
}

.alarmeSicawebErro{
    background-color: #b94a48;
    color: #fff;
}

.alarmeSicawebSucesso{
    background-color:#008000;
    color: #fff;
}

.col-11{
    width: 11%;
}

.alarmeErro{
    background-color: #b94a48;
    color: #fff;
}
.alarmeAtencao{
    background-color: #fff04d;
    color: #000;
}

.no-data{
    font-size: 14px;
}

.mediaDetachment{
    font-size: 10px;
}

#tb_olt_top tbody {
    text-align: center;
}

#tb_galc_by_state tbody {
    text-align: center;
}

.close-table{
    margin-top: -33px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

footer > p{
    text-align: center;
    color: #c7c2c2;
    font-weight: bold;
}

footer > p > span{
    color: #a09a9a;
}

.table-galc-in-gmond, .table-pont-by-galc, .table-galc-in-gmond-uf, .table-pon-by-uf{
    display: none;
}

span.glyphicon.glyphicon-list {
    font-size: 17px;
}
